@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500:800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;500&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@-webkit-keyframes reviewCardAnim1 {
  0% {
    -webkit-transform: translateX(-52%);
    transform: translateX(-52%);
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes reviewCardAnim1 {
  0% {
    -webkit-transform: translateX(-52%);
    transform: translateX(-52%);
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes reviewCardAnim2 {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-52%);
    transform: translateX(-52%);
  }
}
@keyframes reviewCardAnim2 {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-52%);
    transform: translateX(-52%);
  }
}
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #129daa;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0c717b;
}

#root {
  background: linear-gradient(141deg, #1f2729 0%, #283234 51%, #1f2729 75%);
  color: #1beafd;
}

a:hover {
  color: #1beafd;
}

.header {
  background: #1f2729;
  padding: 10px;
  margin-bottom: 100px;
}
.header .nav .logo {
  text-align: center;
}
.header .nav .logo .logo-img {
  padding-right: 0;
  padding-left: 0;
  width: 60px;
  height: 60px;
  border-radius: 100px;
}
.header .nav .logo .logo-text {
  align-self: center;
}
.header .nav .nav-text {
  color: #1beafd;
  text-decoration: none;
  font-size: 20px;
}

.first-section .lead-text {
  color: #fff;
}
.first-section .lead-text span {
  color: #1beafd;
}
.first-section h4 {
  color: #1beafd;
  font-size: 30px;
  font-family: "Playfair Display", serif;
}
.first-section h3 {
  color: #fff;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1.5px;
}

.first-section-aside .card {
  background: linear-gradient(#1f2729, #151a1c);
  font-family: "Courier New", Courier, monospace;
}

.button {
  color: #fff;
  background: #129daa;
  font-family: "Playfair Display", serif;
}

.fancy {
  padding: 15px;
  background: rgba(14, 128, 138, 0.3921568627);
  color: #fff;
}

.fancy-but::before {
  position: absolute;
  top: -28.8675px;
}

.fancy-but::after {
  position: absolute;
  bottom: -28.8675px;
}

.fab {
  font-size: 30px;
}

.section-second {
  background: #283234;
  color: #1beafd;
}
.section-second .container {
  padding-top: 80px;
}
.section-second .container h3 {
  color: #fff;
}
.section-second .container h3 span {
  color: #1beafd;
}
.section-second .container .row {
  padding-top: 20px;
  padding-bottom: 20px;
}
.section-second .container .row .secondDivCol {
  margin-top: 20px;
}
.section-second .container .row .secondDivCol .card {
  height: 350px;
  background: linear-gradient(#1f2729, #151a1c);
  font-family: "Courier New", Courier, monospace;
}
.section-second .container .row .secondDivCol .card .card-body .card-title .second-icon {
  height: 100px;
  border-radius: 100px;
  border: 2px solid #1beafd;
  width: 100px;
  background: #fff;
}
.section-second .container .row .secondDivCol .card .card-body .card-text {
  color: #fff;
}
.section-second .container .row .secondDivCol .card .card-body .card-text span {
  display: block;
  font-family: "Courier New", Courier, monospace;
  font-weight: 800;
  letter-spacing: 1.5px;
}

.third-section .container-fluid {
  --bs-gutter-x: 1.5rem;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
}
.third-section .container {
  grid-column: 1/15;
  overflow-x: hidden;
  --bs-gutter-x: 1.5rem;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
}
.third-section .container h2 {
  color: #fff;
  margin-bottom: 10px;
}
.third-section .container h2 span {
  color: #1beafd;
}
.third-section .container .card {
  background: inherit;
  height: 100%;
  width: 100%;
  text-align: center;
}
.third-section .container .card .card-img {
  height: 300px;
  transition: transform 0.2s;
}
.third-section .container .card .card-img:hover {
  transform: scale(2);
}
.third-section .container .card .card-img-overlay {
  background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 48.44%, #000 100%);
}
.third-section .container .projectList .item {
  margin: 10px;
  text-align: start;
  width: 560px;
}
.third-section .container .projectList .item .flip-box {
  border: 2px solid #0c717b;
  border-radius: 5px;
  height: 354px;
  perspective: 1000px;
}
.third-section .container .projectList .item .flip-box .flip-inner {
  position: relative;
  transition-delay: 2s;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.third-section .container .projectList .item .flip-box .flip-inner .flip-back {
  transform: rotateY(180deg);
}
.third-section .container .projectList .item .flip-box .flip-inner .flip-front, .third-section .container .projectList .item .flip-box .flip-inner .flip-back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.third-section .container .projectList .item .flip-box:hover .flip-inner {
  transition-delay: 0.8s;
  transform: rotateY(180deg) scale(1);
}
.third-section .container .projectList .item .item-img {
  align-items: center;
  width: 520px;
  height: 350px;
  border-radius: 5px;
  transition: transform 0.2s;
}
.third-section .container .other-project .sub-item {
  -webkit-animation: reviewCardAnim1 25s ease-in-out infinite alternate;
  animation: reviewCardAnim1 25s ease-in-out infinite alternate;
  width: max-content;
}
.third-section .container .other-project .sub-item .card {
  width: 300px;
}
.third-section .container .other-project .sub-item:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
.third-section .container .other-project .sub-items {
  -webkit-animation: reviewCardAnim2 25s ease-in-out infinite alternate;
  animation: reviewCardAnim2 25s ease-in-out infinite alternate;
  width: max-content;
}
.third-section .container .other-project .sub-items .card {
  width: 300px;
}
.third-section .container .other-project .sub-items:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

.forth-section {
  background: #283234;
  color: #1beafd;
}

.fa-circle:hover {
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.message-sec {
  border: 0.5px solid #1beafd;
  box-shadow: 1px 1px 3px 3px;
  margin: 20px;
}
.message-sec div {
  font-family: "Playfair Display", serif;
  letter-spacing: 1px;
}
.message-sec div small {
  font-size: 20px;
}
.message-sec div div form div input {
  border: 1px solid #1beafd;
  color: #1beafd;
  border-radius: 20px 20px 20px 20px;
  background: inherit;
}
.message-sec div div form div input:focus {
  color: #1beafd;
  border: none;
  background: inherit;
}
.message-sec div div form div textarea {
  border: 1px solid #1beafd;
  border-radius: 20px 20px 20px 20px;
  background: inherit;
}
.message-sec div div form div textarea:focus {
  color: #1beafd;
  border: none;
  background: inherit;
}
.message-sec div div form div button {
  border-radius: 40px 40px 40px 40px;
  background: inherit;
}
.message-sec div .separate-col {
  padding: 0;
  background-image: url("./assets/ops-in.png");
  height: 65%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  border: 0;
}

.footer {
  border-top: 2px ridge #1e7e99;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 1px;
  text-align: center;
}
.footer .fotfancy {
  padding: 5px;
  background: rgba(14, 128, 138, 0.3921568627);
  color: #fff;
}

@media screen and (max-width: 420px) {
  .header .nav .logo .logo-img {
    width: 50px;
    height: 50px;
  }
  .header .nav .nav-text {
    font-size: 15px;
  }
  .third-section .container-fluid {
    --bs-gutter-x: 0;
    padding-right: 0;
    padding-left: 0;
  }
  .third-section .container {
    --bs-gutter-x: 0;
    padding-right: 0;
    padding-left: 0;
  }
  .third-section .container .container-fluid .projectList .item {
    width: 200px;
  }
}

/*# sourceMappingURL=style.css.map */
