@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500:800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;500&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@-webkit-keyframes reviewCardAnim1 {
  0% {
    -webkit-transform: translateX(-52%);
    transform: translateX(-52%);
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes reviewCardAnim1 {
  0% {
    -webkit-transform: translateX(-52%);
    transform: translateX(-52%);
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes reviewCardAnim2 {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-52%);
    transform: translateX(-52%);
  }
}
@keyframes reviewCardAnim2 {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-52%);
    transform: translateX(-52%);
  }
}
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #129daa;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0c717b;
}

#root {
  background: linear-gradient(141deg, #1f2729 0%, #283234 51%, #1f2729 75%);
  color: #1beafd;
}

a:hover {
  color: #1beafd;
}

.header {
  background: #1f2729;
  padding: 10px;
  margin-bottom: 100px;
}
.header .nav .logo {
  text-align: center;
}
.header .nav .logo .logo-img {
  padding-right: 0;
  padding-left: 0;
  width: 60px;
  height: 60px;
  border-radius: 100px;
}
.header .nav .logo .logo-text {
  align-self: center;
}
.header .nav .nav-text {
  color: #1beafd;
  text-decoration: none;
  font-size: 20px;
}

.first-section .lead-text {
  color: #fff;
}
.first-section .lead-text span {
  color: #1beafd;
}
.first-section h4 {
  color: #1beafd;
  font-size: 30px;
  font-family: "Playfair Display", serif;
}
.first-section h3 {
  color: #fff;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1.5px;
}

.first-section-aside .card {
  background: linear-gradient(#1f2729, #151a1c);
  font-family: "Courier New", Courier, monospace;
}

.button {
  color: #fff;
  background: #129daa;
  font-family: "Playfair Display", serif;
}

.fancy {
  padding: 15px;
  background: rgba(14, 128, 138, 0.3921568627);
  color: #fff;
}

.fancy-but::before {
  position: absolute;
  top: -28.8675px;
}

.fancy-but::after {
  position: absolute;
  bottom: -28.8675px;
}

.fab {
  font-size: 30px;
}

.section-second {
  background: #283234;
  color: #1beafd;
}
.section-second .container {
  padding-top: 80px;
}
.section-second .container h3 {
  color: #fff;
}
.section-second .container h3 span {
  color: #1beafd;
}
.section-second .container .row {
  padding-top: 20px;
  padding-bottom: 20px;
}
.section-second .container .row .secondDivCol {
  margin-top: 20px;
}
.section-second .container .row .secondDivCol .card {
  height: 350px;
  background: linear-gradient(#1f2729, #151a1c);
  font-family: "Courier New", Courier, monospace;
}
.section-second .container .row .secondDivCol .card .card-body .card-title .second-icon {
  height: 100px;
  border-radius: 100px;
  border: 2px solid #1beafd;
  width: 100px;
  background: #fff;
}
.section-second .container .row .secondDivCol .card .card-body .card-text {
  color: #fff;
}
.section-second .container .row .secondDivCol .card .card-body .card-text span {
  display: block;
  font-family: "Courier New", Courier, monospace;
  font-weight: 800;
  letter-spacing: 1.5px;
}

.third-section .container-fluid .wrappers {
  max-width: 100%;
  margin: 0 auto;
}
.third-section .container-fluid .cards {
  z-index: 1020;
  display: flex;
  background: linear-gradient(#1f2729, #151a1c);
  top: 30px;
  position: sticky;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.third-section .container-fluid .cards .card-aside {
  width: 480px;
  height: 100%;
  border: 1px solid #0c717b;
  border-radius: 10px;
  color: #0c717b;
  position: relative;
}
.third-section .container-fluid .cards .card-aside .card-frame {
  position: relative;
  border-radius: 10px;
  box-shadow: 0 0px 22px -10px rgba(0, 0, 0, 0.3);
  transition-property: transform, box-shadow, -webkit-transform, -webkit-box-shadow;
  transition-duration: 0.3s, 0.3s;
  transition-timing-function: ease-out, ease-out;
  transition-delay: 0s, 0s;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0.8rem;
}
.third-section .container-fluid .cards .card-aside .card-frame .card-img-frame {
  color: transparent;
  overflow: hidden;
  display: flex;
  justify-content: center;
  max-height: 230px;
  align-items: center;
  border-radius: 5px;
}
.third-section .container-fluid .cards .card-aside .card-frame .card-img-frame .card-img-loaded {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 7px;
  opacity: 1;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.third-section .container-fluid .cards .card-aside .card-frame .card-text-frame {
  display: -ms-flexbox;
  height: fit-content;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 20px 0px 0px;
  flex-direction: column-reverse;
}
.third-section .container-fluid .cards .card-aside .card-frame .card-text-frame .card-text-container {
  width: 100%;
  overflow: hidden;
  flex: 1 0;
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  margin-top: -38px;
  margin-bottom: 5px;
}
.third-section .container-fluid .cards .card-aside .card-frame .card-text-frame .card-text-container .post-card-link {
  color: transparent;
  overflow: hidden;
  display: flex;
  justify-content: center;
  max-height: 230px;
  align-items: center;
  border-radius: 5px;
}
.third-section .container-fluid .cards .card-aside .card-frame .card-text-frame .card-text-container .post-card-link .post-card-title {
  width: 100%;
  margin: 0;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  left: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #1beafd;
  font-size: 15px;
  line-height: 1.25;
  letter-spacing: 0.005rem;
}
.third-section .container-fluid .cards .card-aside .card-frame .card-text-frame .card-icon-section {
  display: flex;
  background-color: #1f2729;
  position: relative;
  margin-left: 20px;
  top: -46px;
  border-radius: 10px 0 0 0;
  height: 35px;
  width: auto;
  align-items: flex-end;
  justify-content: flex-end;
  flex: 0;
  align-self: flex-end;
  padding-left: 0.5rem;
  padding-top: 0.3rem;
}
.third-section .container-fluid .cards .card-aside .card-frame:hover {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  -webkit-box-shadow: 0 7px 36px -10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 7px 36px -10px rgba(0, 0, 0, 0.3);
}
.third-section .container-fluid .cards .card-img {
  border-radius: 7px;
  opacity: 0.7;
  box-shadow: 0 0px 22px -10px rgba(0, 0, 0, 0.3);
  transition-property: transform, box-shadow, -webkit-transform, -webkit-box-shadow;
  transition-duration: 0.3s, 0.3s;
  transition-timing-function: ease-out, ease-out;
  transition-delay: 0s, 0s;
}
.third-section .container-fluid .cards .card-img:hover {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  -webkit-box-shadow: 0 7px 36px -10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 7px 36px -10px rgba(0, 0, 0, 0.3);
}
.third-section .container-fluid .cards:nth-child(1n) {
  top: 100px;
}
.third-section .container-fluid .cards:nth-child(2n) {
  top: 200px;
}
.third-section .container-fluid .cards:nth-child(3n) {
  top: 300px;
}
.third-section .container-fluid .cards:nth-child(4n) {
  top: 400px;
}
.third-section .container-fluid .cards:nth-child(5n) {
  top: 500px;
}
.third-section .container-fluid .cards:nth-child(6n) {
  top: 600px;
}
.third-section .container-fluid .cards:nth-child(7n) {
  top: 700px;
}
.third-section .container-fluid .cards:nth-child(8n) {
  top: 800px;
}
.third-section .scroll-field,
.third-section .mobile-display {
  grid-column: 1/15;
  overflow-x: hidden;
  --bs-gutter-x: 1.5rem;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
}
.third-section .scroll-field .card-aside,
.third-section .mobile-display .card-aside {
  border: 1px solid #0c717b;
  border-radius: 10px;
  color: #0c717b;
  position: relative;
}
.third-section .scroll-field .card-aside .card-frame,
.third-section .mobile-display .card-aside .card-frame {
  position: relative;
  border-radius: 10px;
  box-shadow: 0 0px 22px -10px rgba(0, 0, 0, 0.3);
  transition-property: transform, box-shadow, -webkit-transform, -webkit-box-shadow;
  transition-duration: 0.3s, 0.3s;
  transition-timing-function: ease-out, ease-out;
  transition-delay: 0s, 0s;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0.8rem;
}
.third-section .scroll-field .card-aside .card-frame .card-img-frame,
.third-section .mobile-display .card-aside .card-frame .card-img-frame {
  color: transparent;
  overflow: hidden;
  display: flex;
  justify-content: center;
  max-height: 230px;
  align-items: center;
  border-radius: 5px;
}
.third-section .scroll-field .card-aside .card-frame .card-img-frame .card-img-loaded,
.third-section .mobile-display .card-aside .card-frame .card-img-frame .card-img-loaded {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 7px;
  opacity: 1;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.third-section .scroll-field .card-aside .card-frame .card-text-frame,
.third-section .mobile-display .card-aside .card-frame .card-text-frame {
  display: -ms-flexbox;
  height: fit-content;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 20px 0px 0px;
  flex-direction: column-reverse;
}
.third-section .scroll-field .card-aside .card-frame .card-text-frame .card-text-container,
.third-section .mobile-display .card-aside .card-frame .card-text-frame .card-text-container {
  width: 100%;
  overflow: hidden;
  flex: 1 0;
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  margin-top: -38px;
  margin-bottom: 5px;
}
.third-section .scroll-field .card-aside .card-frame .card-text-frame .card-text-container .post-card-link,
.third-section .mobile-display .card-aside .card-frame .card-text-frame .card-text-container .post-card-link {
  color: transparent;
  overflow: hidden;
  display: flex;
  justify-content: center;
  max-height: 230px;
  align-items: center;
  border-radius: 5px;
}
.third-section .scroll-field .card-aside .card-frame .card-text-frame .card-text-container .post-card-link .post-card-title,
.third-section .mobile-display .card-aside .card-frame .card-text-frame .card-text-container .post-card-link .post-card-title {
  width: 100%;
  margin: 0;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  left: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #1beafd;
  font-size: 15px;
  line-height: 1.25;
  letter-spacing: 0.005rem;
}
.third-section .scroll-field .card-aside .card-frame .card-text-frame .card-icon-section,
.third-section .mobile-display .card-aside .card-frame .card-text-frame .card-icon-section {
  border-top: 1px solid #daa520;
  border-left: 1px solid #daa520;
  display: flex;
  background-color: #1f2729;
  position: relative;
  margin-left: 20px;
  top: -46px;
  border-radius: 10px 0 0 0;
  height: 35px;
  width: auto;
  align-items: flex-end;
  justify-content: flex-end;
  flex: 0;
  align-self: flex-end;
  padding-left: 0.5rem;
  padding-top: 0.3rem;
}
.third-section .scroll-field .card-aside .card-frame:hover,
.third-section .mobile-display .card-aside .card-frame:hover {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  -webkit-box-shadow: 0 7px 36px -10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 7px 36px -10px rgba(0, 0, 0, 0.3);
}
.third-section .scroll-field h2,
.third-section .mobile-display h2 {
  color: #fff;
  margin-bottom: 10px;
}
.third-section .scroll-field h2 span,
.third-section .mobile-display h2 span {
  color: #1beafd;
}
.third-section .scroll-field .card,
.third-section .mobile-display .card {
  background: inherit;
  height: 100%;
  width: 100%;
  text-align: center;
}
.third-section .scroll-field .card .card-img,
.third-section .mobile-display .card .card-img {
  transition: transform 0.2s;
}
.third-section .scroll-field .card .card-img:hover,
.third-section .mobile-display .card .card-img:hover {
  transform: scale(2);
}
.third-section .scroll-field .card .card-img-overlay,
.third-section .mobile-display .card .card-img-overlay {
  background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 48.44%, #000 100%);
}
.third-section .scroll-field .other-project .sub-item,
.third-section .mobile-display .other-project .sub-item {
  -webkit-animation: reviewCardAnim1 25s ease-in-out infinite alternate;
  animation: reviewCardAnim1 25s ease-in-out infinite alternate;
  width: max-content;
}
.third-section .scroll-field .other-project .sub-item .card,
.third-section .mobile-display .other-project .sub-item .card {
  width: 300px;
}
.third-section .scroll-field .other-project .sub-item:hover,
.third-section .mobile-display .other-project .sub-item:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
.third-section .scroll-field .other-project .sub-items,
.third-section .mobile-display .other-project .sub-items {
  -webkit-animation: reviewCardAnim2 25s ease-in-out infinite alternate;
  animation: reviewCardAnim2 25s ease-in-out infinite alternate;
  width: max-content;
}
.third-section .scroll-field .other-project .sub-items .card,
.third-section .mobile-display .other-project .sub-items .card {
  width: 300px;
}
.third-section .scroll-field .other-project .sub-items:hover,
.third-section .mobile-display .other-project .sub-items:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

.forth-section {
  background: #283234;
  color: #1beafd;
}

.fa-circle:hover {
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.message-sec {
  border: 0.5px solid #1beafd;
  box-shadow: 1px 1px 3px 3px;
  margin: 20px;
}
.message-sec div {
  font-family: "Playfair Display", serif;
  letter-spacing: 1px;
}
.message-sec div small {
  font-size: 20px;
}
.message-sec div div form div input {
  border: 1px solid #1beafd;
  color: #1beafd;
  border-radius: 20px 20px 20px 20px;
  background: inherit;
}
.message-sec div div form div input:focus {
  color: #1beafd;
  border: none;
  background: inherit;
}
.message-sec div div form div textarea {
  border: 1px solid #1beafd;
  border-radius: 20px 20px 20px 20px;
  background: inherit;
}
.message-sec div div form div textarea:focus {
  color: #1beafd;
  border: none;
  background: inherit;
}
.message-sec div div form div button {
  border-radius: 40px 40px 40px 40px;
  background: inherit;
}
.message-sec div .separate-col {
  padding: 0;
  background-image: url("./assets/ops-in.png");
  height: 65%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  border: 0;
}

.footer {
  border-top: 2px ridge #1e7e99;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 1px;
  text-align: center;
}
.footer .fotfancy {
  padding: 5px;
  background: rgba(14, 128, 138, 0.3921568627);
  color: #fff;
}

@media screen and (max-width: 420px) {
  .header .nav .logo .logo-img {
    width: 50px;
    height: 50px;
  }
  .header .nav .nav-text {
    font-size: 15px;
  }
  .third-section .container-fluid {
    --bs-gutter-x: 0;
    padding-right: 0;
    padding-left: 0;
  }
  .third-section .container {
    --bs-gutter-x: 0;
    padding-right: 0;
    padding-left: 0;
  }
  .third-section .container .container-fluid .projectList .item {
    width: 200px;
  }
}

/*# sourceMappingURL=style.css.map */
