@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500:800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;500&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

@-webkit-keyframes reviewCardAnim1{0%{-webkit-transform:translateX(-52%);transform:translateX(-52%)}to{-webkit-transform:translateX(0);transform:translateX(0)}}
@keyframes reviewCardAnim1{0%{-webkit-transform:translateX(-52%);transform:translateX(-52%)}to{-webkit-transform:translateX(0);transform:translateX(0)}}
@-webkit-keyframes reviewCardAnim2{0%{-webkit-transform:translateX(0);transform:translateX(0)}to{-webkit-transform:translateX(-52%);transform:translateX(-52%)}}
@keyframes reviewCardAnim2{0%{-webkit-transform:translateX(0);transform:translateX(0)}to{-webkit-transform:translateX(-52%);transform:translateX(-52%)}}

$bg-color: #1f2729;
$bg-color2: #283234;
// $bg-color: #2c3539;
// $text-color: #329E61;
$text-color: #1beafd;
$textHigh-color: #39edfe;
$lead-text: #fff;
// $text-color: #048934;

::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #129daa;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0c717b;
  }
#root {
    background: linear-gradient(141deg, #1f2729 0%, #283234 51%, #1f2729 75%);
    color: $text-color;
}

a:hover {
    color:$text-color
}

.header {
    background: $bg-color;
    padding: 10px;
    margin-bottom: 100px;
    .nav {
        .logo {
            text-align: center;
            .logo-img {
                padding-right: 0;
                padding-left: 0;
                width: 60px;
                height: 60px;
                border-radius: 100px;
            }
            .logo-text {
                align-self: center;
            }
        }
        .nav-text {
            color: $text-color;
            text-decoration: none;
            font-size: 20px;
        }
    }
}

.first-section {
    .lead-text {
        color:  $lead-text;
        span {
            color: $text-color;
        }
    }
    h4 {
        color: $text-color;
        font-size: 30px;
        font-family: "Playfair Display", serif;
    }
    h3 {
        color: $lead-text;
        font-size: 18px;
        font-family: "Poppins", sans-serif;
        font-size: 20px;
        letter-spacing: 1px;
    }
}

.first-section-aside {
    animation: 3s ease-in-out 0.66s infinite normal none running imageMotion;
    .card {
        background: linear-gradient(#1f2729, #151a1c);
        font-family: 'Courier New', Courier, monospace;
        
    }
}

.button {
    color: $lead-text;
    background: #129daa;
    font-family: "Playfair Display", serif;
}

.fancy {
    font-size: 25px;
    padding: 15px;
    background: #0e808a64;
    color: $lead-text;
}

.fancy-but::before {
    position: absolute;
    top: -28.8675px;
}

.fancy-but::after {
    position: absolute;
    bottom: -28.8675px;
}

.fab {
    font-size: 30px;
}

.section-second {
    background: $bg-color2;
    color: $text-color;
    .container {
        padding-top: 80px;
        h3 {
            color: $lead-text;
            span {
                color: $text-color;
            }
        }
        .row {
            padding-top: 20px;
            padding-bottom: 20px;
            .secondDivCol {
                margin-top: 20px;
                .card {
                    height: 350px;
                    background: linear-gradient(#1f2729, #151a1c);
                    font-family: 'Courier New', Courier, monospace;
                    .card-body{
                        .card-title {
                            .second-icon {
                                height: 100px;
                                border-radius: 100px;
                                border: 2px solid $text-color;
                                width: 100px;
                                background: $lead-text;
                            }
                        }
                        .card-text {
                            color: $lead-text;
                            span {
                                display: block;
                                font-family: 'Courier New', Courier, monospace;
                                font-weight: 800;
                                letter-spacing: 1.5px;
                            }
                        }
                    }
                    
                }
            }
        }
    }
}

.third-section {
    .container-fluid {
        .wrappers {
            max-width: 100%;
            margin: 0 auto;
        }
        .cards {
            z-index: 1020;
            display: flex;
            background: linear-gradient(#1f2729, #151a1c);
            top: 30px;
            position: sticky;
            border: 1px solid #ccc;
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
            color: #fff;
            padding: 10px;
            border-radius: 10px;
            margin-bottom: 20px;
            .card-aside {
                width: 480px;
                height: 100%;
                border: 1px solid #0c717b;
                border-radius: 10px;
                color: #0c717b;
                position: relative;
                .card-frame {
                    position: relative;
                    border-radius: 10px;
                    box-shadow: 0 0px 22px -10px rgb(0 0 0 / 30%);
                    transition-property: transform, box-shadow, -webkit-transform, -webkit-box-shadow;
                    transition-duration: 0.3s, 0.3s;
                    transition-timing-function: ease-out, ease-out;
                    transition-delay: 0s, 0s;
                    display: flex;
                    flex-direction: column;
                    overflow: hidden;
                    padding: 0.8rem;
                    .card-img-frame {
                        color: transparent;
                        overflow: hidden;
                        display: flex;
                        justify-content: center;
                        max-height: 230px;
                        align-items: center;
                        border-radius: 5px;
                        .card-img-loaded {
                            width: 100%;
                            height: 100%;
                            -o-object-fit: cover;
                            object-fit: cover;
                            border-radius: 7px;
                            opacity: 1;
                            -webkit-transition: all 0.2s ease-out;
                            transition: all 0.2s ease-out;
                        }
                    }
                    .card-text-frame {
                        display: -ms-flexbox;
                        height: fit-content;
                        display: flex;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        -webkit-box-pack: end;
                        -ms-flex-pack: end;
                        justify-content: flex-end;
                        padding: 20px 0px 0px;
                        flex-direction: column-reverse;
                        .card-text-container {
                            width: 100%;
                            overflow: hidden;
                            flex: 1 0;
                            display: flex;
                            flex-wrap: wrap;
                            min-width: 100%;
                            margin-top: -38px;
                            margin-bottom: 5px;
                            .post-card-link {
                                color: transparent;
                                overflow: hidden;
                                display: flex;
                                justify-content: center;
                                max-height: 230px;
                                align-items: center;
                                border-radius: 5px;
                                .post-card-title {
                                    width: 100%;
                                    margin: 0;
                                    white-space: normal;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    left: 0;
                                    font-family: 'Poppins', sans-serif;
                                    font-weight: 400;
                                    color: #1beafd;
                                    font-size: 15px;
                                    line-height: 1.25;
                                    letter-spacing: 0.005rem;
                                }
                            }
                        }
                        .card-icon-section {
                            display: flex;
                            background-color: #1f2729;
                            position: relative;
                            margin-left: 20px;
                            top: -46px;
                            border-radius: 10px 0 0 0;
                            height: 35px;
                            width: auto;
                            align-items: flex-end;
                            justify-content: flex-end;
                            flex: 0;
                            align-self: flex-end;
                            padding-left: 0.5rem;
                            padding-top: 0.3rem;
                        }
                    }
                }
                .card-frame:hover {
                    -webkit-transform: translateY(2px);
                    transform: translateY(2px);
                    -webkit-box-shadow: 0 7px 36px -10px rgb(0 0 0 / 30%);
                    box-shadow: 0 7px 36px -10px rgb(0 0 0 / 30%);
                }
            }
            .card-img {
                border-radius: 7px;
                opacity: 0.7;
                box-shadow: 0 0px 22px -10px rgb(0 0 0 / 30%);
                transition-property: transform, box-shadow, -webkit-transform, -webkit-box-shadow;
                transition-duration: 0.3s, 0.3s;
                transition-timing-function: ease-out, ease-out;
                transition-delay: 0s, 0s;
            }
            .card-img:hover {
                -webkit-transform: translateY(2px);
                transform: translateY(2px);
                -webkit-box-shadow: 0 7px 36px -10px rgb(0 0 0 / 30%);
                box-shadow: 0 7px 36px -10px rgb(0 0 0 / 30%);
            }
        }
        @for $i from 1 through 8 {
            .cards:nth-child(#{$i}n) {
                top: $i * 100px;
            }
        }
    }
    .scroll-field,
    .mobile-display {
        grid-column: 1/15;
        overflow-x: hidden;
        --bs-gutter-x: 1.5rem;
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
        .card-aside {
            border: 1px solid #0c717b;
            border-radius: 10px;
            color: #0c717b;
            position: relative;
            .card-frame {
                position: relative;
                border-radius: 10px;
                box-shadow: 0 0px 22px -10px rgb(0 0 0 / 30%);
                transition-property: transform, box-shadow, -webkit-transform, -webkit-box-shadow;
                transition-duration: 0.3s, 0.3s;
                transition-timing-function: ease-out, ease-out;
                transition-delay: 0s, 0s;
                display: flex;
                flex-direction: column;
                overflow: hidden;
                padding: 0.8rem;
                .card-img-frame {
                    color: transparent;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    max-height: 230px;
                    align-items: center;
                    border-radius: 5px;
                    .card-img-loaded {
                        width: 100%;
                        height: 100%;
                        -o-object-fit: cover;
                        object-fit: cover;
                        border-radius: 7px;
                        opacity: 1;
                        -webkit-transition: all 0.2s ease-out;
                        transition: all 0.2s ease-out;
                    }
                }
                .card-text-frame {
                    display: -ms-flexbox;
                    height: fit-content;
                    display: flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    -webkit-box-pack: end;
                    -ms-flex-pack: end;
                    justify-content: flex-end;
                    padding: 20px 0px 0px;
                    flex-direction: column-reverse;
                    .card-text-container {
                        width: 100%;
                        overflow: hidden;
                        flex: 1 0;
                        display: flex;
                        flex-wrap: wrap;
                        min-width: 100%;
                        margin-top: -38px;
                        margin-bottom: 5px;
                        .post-card-link {
                            color: transparent;
                            overflow: hidden;
                            display: flex;
                            justify-content: center;
                            max-height: 230px;
                            align-items: center;
                            border-radius: 5px;
                            .post-card-title {
                                width: 100%;
                                margin: 0;
                                white-space: normal;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                left: 0;
                                font-family: 'Poppins', sans-serif;
                                font-weight: 400;
                                color: #1beafd;
                                font-size: 15px;
                                line-height: 1.25;
                                letter-spacing: 0.005rem;
                            }
                        }
                    }
                    .card-icon-section {
                        border-top: 1px solid #daa520;
                        border-left: 1px solid #daa520;
                        display: flex;
                        background-color: #1f2729;
                        position: relative;
                        margin-left: 20px;
                        top: -46px;
                        border-radius: 10px 0 0 0;
                        height: 35px;
                        width: auto;
                        align-items: flex-end;
                        justify-content: flex-end;
                        flex: 0;
                        align-self: flex-end;
                        padding-left: 0.5rem;
                        padding-top: 0.3rem;
                    }
                }
            }
            .card-frame:hover {
                -webkit-transform: translateY(2px);
                transform: translateY(2px);
                -webkit-box-shadow: 0 7px 36px -10px rgb(0 0 0 / 30%);
                box-shadow: 0 7px 36px -10px rgb(0 0 0 / 30%);
            }
        }
        h2 {
            color: $lead-text;
            margin-bottom: 10px;
            span {
                color: $text-color;
            }
        }
        .card {
            background: inherit;
            height: 100%;
            width: 100%;
            text-align: center;
            .card-img {
                transition: transform .2s;
            }
            .card-img:hover {
                transform: scale(2);
            }
            .card-img-overlay {
                background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 48.44%, #000 100%);
            }
        }
        .other-project {
            .sub-item {
                -webkit-animation: reviewCardAnim1 25s ease-in-out infinite alternate;
                animation: reviewCardAnim1 25s ease-in-out infinite alternate;
                width: max-content;
                .card{
                    width: 300px;
                }
            }

            .sub-item:hover {
                -webkit-animation-play-state: paused;
                animation-play-state: paused;
            }
            .sub-items {
                -webkit-animation: reviewCardAnim2 25s ease-in-out infinite alternate;
                animation: reviewCardAnim2 25s ease-in-out infinite alternate;
                width: max-content;
                .card{
                    width: 300px;
                }
            }

            .sub-items:hover {
                -webkit-animation-play-state: paused;
                animation-play-state: paused;
            }
        }
    }
}

.forth-section {
    background: $bg-color2;
    color: $text-color;
}

.fa-circle:hover {
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.message-sec {
    border: 0.5px solid $text-color;
    box-shadow: 1px 1px 3px 3px;
    margin: 20px;
    div {
        font-family: "Playfair Display", serif;
        letter-spacing: 1px;
        small {
            font-size: 20px;
        }
    }
    div {
        div {
            form {
                div {
                    input {
                        border: 1px solid $text-color;
                        color: $text-color;
                        border-radius: 20px 20px 20px 20px;
                        background: inherit;
                    }
                    input:focus {
                        color: $text-color;
                        border: none;
                        background: inherit;
                    }
                    textarea {
                        border: 1px solid $text-color;
                        border-radius: 20px 20px 20px 20px;
                        background: inherit;
                    }
                    textarea:focus {
                        color: $text-color;
                        border: none;
                        background: inherit;
                    }
                    button {
                        border-radius: 40px 40px 40px 40px;
                        background: inherit;
                    }
                }
            }
        }
        .separate-col {
            padding: 0;
            background-image: url('./assets/ops-in.png');
            height: 65%;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: right;
            border: 0;
        }
    }
}

.footer {
    border-top: 2px ridge #1e7e99;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    text-align: center;
    .fotfancy {
        padding: 5px;
        background: rgba(14, 128, 138, 0.3921568627);
        color: #fff;
    }
}

@media screen and (max-width: 420px) {
    .header {
        .nav {
            .logo {
                .logo-img {
                    width: 50px;
                    height: 50px;
                }
            }
            .nav-text {
                font-size: 15px;
            }
        }
    }
    .third-section {
        
    .container-fluid {
        --bs-gutter-x: 0;
        padding-right: 0;
        padding-left: 0;
    }
        .container {
            --bs-gutter-x: 0;
            padding-right: 0;
            padding-left: 0;
            .container-fluid {
                .projectList {
                    .item {
                        width: 200px;
                    }
                }
            }
        }
    }
}

@keyframes imageMotion {
    0% {
        transform: translate(0px, 0px);
    }
  
    50% {
        transform: translate(-5px, -5px);
    }
  
    100% {
        transform: translate(0px, 0px);
    }
}